.gpt3__features {
    padding: 4rem 6rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.gpt3__features-header {
    width: 100%;
    margin-right: 6rem;
}

.gpt3__features-header h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;

    margin-bottom: 1rem;

    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gpt3__features-header p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;

    color: #FF8A71;
}

.gpt3__features-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gpt3__features-container .gpt3__feature-header h5 {
    font-size: 18px;
    line-height: 28px;
}

.gpt3__features-container .gpt3__feature-content p {
    font-size: 14px;
    line-height: 20px;
}

@media screen and (max-width: 950px) {
    .gpt3__features {
        flex-direction: column;
    }
    .gpt3__features-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__features {
        padding: 4rem;
    }

    .gpt3__features-header h3 {
        font-size: 28px;
        line-height: 34px;
    }
    .gpt3__features-header p {
        font-size: 12px;
        line-height: 24px;
    }
    .gpt3__features-container .gpt3__feature-header h5 {
        font-size: 14px;
        line-height: 28px;
    }
    .gpt3__features-container .gpt3__feature-content p {
        font-size: 12px;
        line-height: 20px;
    }
}
@media screen and (max-width: 550px) {
    .gpt3__features {
        padding: 2rem;
    }
}